header {
  background-color: rgb(83, 124, 107);
  padding: 1rem;
  color: #ccc;
 /* display: flex;
  justify-content: space-between;
  align-items: center;*/
}

  

header a {
  color: rgb(150, 240, 213);
  padding: 0 0.33rem;
  text-decoration: none;
  display:flex;
}
header .btnMobileMenu {
  /*align-self: flex-start;*/
}
header .nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  
  /* display: inline-block;

  flex-direction: row;
  margin-left: 6rem;
  text-decoration: none;
  list-style-type: none; 
  display: inline-flex;
  margin-left: 360px;
  margin-bottom: 40px;*/
}
@media (min-width: 641px) {
  header .btnMobileMenu {
    display: none;
  }
}
@media (max-width: 640px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
}
ol, ul {
	list-style: none;
}
/* .nav {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
  margin-top: 0%;
  margin-bottom: 30px;
} */
