form {
  margin: 1rem 0 1rem 0;
  display: grid;
  gap: 20px;
}

@media only screen and (min-width: 960px) {
  form {
    grid-template-columns: 5fr 1fr 1fr;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    background: black;
    color: #ccc;
    font-size: 1.3rem;
  }
  .App {
    padding: 20px;
    font-family: "Quicksand", sans-serif;
  }

  form input {
    height: 50px;
    padding: 10px;
    border: 3px solid yellowgreen;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 20px;
  }

  form button {
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 32px;
    padding: 10px;
  }
  .introBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    object-fit: contain;
  }

  form button[type="button"] {
    background-color: yellowgreen;
    border: none;
    border-radius: 10px;
    font-size: 32px;
    padding: 16px;
  }

  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-left: 15px;
    margin-top: 15px;
    border: greenyellow solid 3px;
    border-radius: 20px;
  }
  /* img:hover {
    width: 310px;
    height: 310px;
    border: rgb(247, 247, 247) solid 8px;
  } */

  .image-grid {
    /* display: grid; */
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }

  .footer {
    display: flex;
    justify-content: center;
  }

  .footer button {
    font-size: 36px;
    border-radius: 10px;
    border: none;
    padding: 18px;
    margin: 3rem 0 3rem 0;
    background-color: yellowgreen;
    margin-left: 20px;
  }

  .introTxt {
    border: 1px solid greenyellow;
    border-radius: 25px;
    padding: 8px 1.3rem;
  }
}
a {
  color: aquamarine;
  justify-content: space-between;
  gap: 1rem;
}
a:hover {
  font-size: 30px;
  color: greenyellow;
}
.nav {
  justify-content: space-between;
}
.scrollButton {
  position: fixed; 
   width: 100%;
   left: 40%;
   bottom: 40px;
   height: 20px;
   font-size: 3rem;
   z-index: 1;
   cursor: pointer;
   color: green
}
